body {
    background-image: url('../img/nubes3.jpg');
    background-size: cover;
}

.contenedor {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    overflow: hidden;
    border-style: double;
    border-color: rgb(63, 35, 5);
}

.barra {
    background-color: rgb(242, 234, 211);
    margin: auto;
}

.contenedor-presentacion {
    margin: auto;
    padding-top: 2%;
    background-image: url('../img/ff3ywn-1.webp');
    background-size: cover;
    display: flex;
}


.seccion {
    width: 25%;
    height: auto;
    margin: 4%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    text-align: center;
    border-radius: 1rem;
    border: 5px solid;
    animation: rotar-borde 6s linear infinite;
}


#titulo {
    font-weight: 600;
    text-align: center;
    font-size: 150%;
    color: #000000;
    text-shadow:
        0 0 1px #cee9ff,
        0 0 2px #c2c6ff,
        0 0 4px #cbdbff,
        0 0 8px rgb(7, 79, 121),
        0 0 16px rgb(0, 102, 255),
        0 0 32px rgb(0, 89, 255),
        0 0 64px rgb(0, 47, 255),
        0 0 128px rgb(0, 26, 255);
}

#sam {
    padding: 1%;
    margin: 5%;
    margin-top: 1%;
    width: 25vh;
    height: 25vh;
    border-radius: 6rem;
    border: #084298 double;
}



.contenedor2 {
    margin: auto;
    padding-left: 4%;
    display: flex;
    flex-direction: row;
}

.contenedor2 .card {
    margin: 2%;
    width: 18rem;
}

.lol {
    width: 70%;
    height: auto;
}


.acordeon {
    margin: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.acord-item {
    display: flex;
}


#texto2 {
    width: 100%;
    text-align: justify;
}

#texto1 {
    width: 30%;
    margin-right: 5%;
    text-align: justify;
}

#img2 {
    width: 30%;
    height: auto;
    margin: 2%;
    margin-right: 5%;
}

#img1 {
    width: 20%;
    margin: 2%;
    margin-right: 10%;
}

.acord-item {
    padding-left: 10%;
}

#texto3 {
    width: 100%;
    margin-left: 2%;

}

#texto3-2 {
    display: block;
    width: 25%;
    margin-right: 2%;
}

#tema-soundcloud {
    width: 30%;
    margin-right: 4%;
}

#tema-soundcloud2 {
    width: 30%;
}

.contenedor-carousel {
    width: 60%;
    height: auto;
}

.degradado-negro {
    position: relative;
    display: inline-block;

}

.degradado-negro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;

}

.degradado-negro img {
    width: auto;
    height: auto;
}

@keyframes rotar-borde {
    0% {
        border-color: #010103;
    }

    25% {
        border-color: #1a2528;
    }

    50% {
        border-color: #2955ab;
    }

    75% {
        border-color: #1a2528;
    }

    100% {
        border-color: #010103;
    }
}

.tituloSitios {
    text-align: center;
    margin: auto;
    padding: 2vh;
    background-color: rgb(236, 249, 255);
    border: 3px solid rgb(110, 93, 78);
}

.formulario-consulta {
    padding: 5%;
    padding-top: 3%;
}

.formulario-consulta h3 {
    padding-left: 2%;
}

.formulario-consulta input {
    width: 100%;
}

.formulario-consulta textarea {
    margin-top: 3%;
    width: 100%;
}

.formulario-consulta form {
    border: 3px dashed rgb(110, 93, 78);
    background-color: rgb(255, 251, 235);
    padding: 2%;
}

.formulario-consulta button {
    margin-top: 1%;
}

footer {
    display: flex;
    background-color: rgb(236, 249, 255);
    border: 3px solid rgb(110, 93, 78);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-left: 15%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.git {
    margin-top: 1%;
}

.git a {
    font-size: 125%;
}

.git img {
    width: 10%;
    object-fit: cover;
}

@media (max-width: 900px) {
    .contenedor {
        width: 90%;
    }

    .contenedor-presentacion {
        display: block;
    }

    .seccion {
        width: fit-content;
    }

    #sam {
        width: 50%;
        height: 50%;
    }

    .contenedor-carousel {
        width: fit-content;
    }

    .texto-carousel h5 {
        font-size: 90%;
    }

    .texto-carousel p {
        font-size: 80%;
    }

    .contenedor2 {
        display: block;
        padding: 2%;
        padding-bottom: 4%;
    }

    .contenedor2 .card {
        width: 95%;
    }

    .acord-item {
        display: block;
        padding-left: 0%;
    }

    #texto2 {
        width: 100%;
        padding-left: 0%;
        padding-bottom: 2%;
    }

    #texto1 {
        text-align: justify;
        width: 100%;
        padding-left: 0%;
        padding-bottom: 2%;
    }

    #img2 {
        width: 95%;
        margin: 0%;
        margin-bottom: 4%;
    }

    #img1 {
        width: 95%;
        margin: 0%;
        margin-bottom: 4%;
    }

    .acord-item {
        padding-left: 4%;
    }

    #texto3 {
        padding-left: 2%;
    }

    #texto3-2 {
        width: 100%;
        padding-bottom: 2%;
        padding-left: 0%;
    }

    #tema-soundcloud {
        width: 100%;
        margin-top: 2%;
        margin-right: 10%;
        margin-left: 0%;
    }

    #tema-soundcloud2 {
        width: 100%;
        margin-top: 2%;
        margin-right: 10%;
        margin-left: 0%;
    }

    .git {
        margin: 0%;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .git a {
        font-size: 125%;
    }

    .git img {
        width: 15%;
    }


    footer {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0%;
    }
}

@media (max-width: 630px) {
    .git a {
        font-size: 125%;
    }

    .git img {
        width: 20%;
    }

    footer {
        padding-left: 2%;
        padding-right: 2%;
        margin: 0%;
    }
}